@model Whatsup.Models.ContactViewModel

@{
    ViewBag.Title = "Profile Contact";
}

<h2>@Html.DisplayFor(model => model.NickName)</h2>

<p>@ViewBag.Email</p>


<div class="btn btn-default">
    @Html.ActionLink("Delete Contact", "DeleteContact", new { index = Model.Index })
</div>

<div class="btn btn-default">
    @Html.ActionLink("Edit Contact", "EditContact", new { index = Model.Index })
</div>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
