@model Whatsup.Models.ContactViewModel

@{
    ViewBag.Title = "Profile Contact";
}

<h2>@Html.DisplayFor(model => model.NickName)</h2>

<p>@ViewBag.Email</p>


<section class="btn btn-default">
    @Html.ActionLink("Delete Contact", "DeleteContact", new { index = Model.Index })
</section>

<section class="btn btn-default">
    @Html.ActionLink("Edit Contact", "EditContact", new { index = Model.Index })
</section>

<section class="back-link">
    @Html.ActionLink("Back to Contact", "Contact", "Contact")
</section>
