@model Whatsup.Models.ProfileUserViewModel

@{
    ViewBag.Title = "Profile";
}

<section class="top-button">
    @Html.ActionLink("Edit Account", "EditUser", "User", new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Delete Account", "DeleteUser", "User", new { @class = "btn btn-primary btn-lg" })
</section>

<h2>Profile</h2>

<hr />

<section class="form-horizontal">

    <section class="form-group">
        <section class="col-md-offset-1 col-md-10"">
            <p><b>Name:</b> @Model.Username</p>
            <p><b>Email:</b> @Model.Email</p>
            <p><b>Account created:</b> @Model.DateCreated.ToString()</p>
        </section>
    </section>
</section>

<section class="back-link">
    @Html.ActionLink("Back to Home", "Index", "Home")
</section>
