@using Whatsup.Models
@model ProfileUserViewModel

@{
    ViewBag.Title = "ProfileUser";
}

<h2>Profile</h2>

<p>Username: @ViewBag.Username</p>
<p>Email: @ViewBag.Email</p>
<p>Account created: @ViewBag.DateCreated</p>

<section class="btn btn-default">
    @Html.ActionLink("Edit Account", "EditUser", "User")
</section>

<section class="btn btn-default">
    @Html.ActionLink("Delete Account", "DeleteUser", "User")
</section>

<section class="back-link">
    @Html.ActionLink("Back to Home", "Index", "Home")
</section>
