@{

    ViewBag.Title = "";
}



@if (User.Identity.IsAuthenticated)
{
    @foreach( var user in @ViewBag.allUsers ) {
        <a class="user__item contact-@user.id" href="#" data-contact-id="@user.id" data-contact-name="@user.name">
            <li>
                <div class="avatar">
                    <img src="@Url.Content("~/Content/no_avatar.png")">
                </div>
                <span>@user.name</span>
                <div class="status-bar"></div>
            </li>
        </a>
}
else
{
    <div class="jumbotron">
        <h1>WhatsUp</h1>
        <p class="lead">WhatsUp is an online chat service. You can add your friends or talk in groupchats.</p>
        <p><a href="@Url.Action("Register", "User")" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
    </div>
}