@{

    ViewBag.Title = "";
}



@if (User.Identity.IsAuthenticated)
{
    @*foreach (var contact in @ViewBag.AllContacts)
    {
        <a class="user__item contact-@contact.Id" href="#" data-contact-id="@contact.Id" data-contact-name="@contact.Name">
            <li>
                <span>@contact.Name</span>
                <p>last message</p>
            </li>
        </a>
        }*@
    }
else
{
    <div class="jumbotron">
        <h1>WhatsUp</h1>
        <p class="lead">WhatsUp is an online chat service. You can add your friends or talk in groupchats.</p>
        <p><a href="@Url.Action("Register", "User")" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
    </div>
}