@model IEnumerable<WhatsUp.Models.ChatListViewModel>

@{

    ViewBag.Title = "Chats";
}

@if (User.Identity.IsAuthenticated)
{
    <section class="top-button">
        @Html.ActionLink("New Chat", "ChatContact", "Chat", null, new { @class = "btn btn-primary btn-lg" })
    </section>

    <h2>Chats</h2>

    <hr />

    if (Model.Count() == 0)
    {
        <p>You have no chats, go to "New Chat" to create a chat!</p>
    }
    else
    {
        foreach (var item in Model)
        {
            @Html.ActionLink(item.Name, "Chat", "Chat", new { index = item.Index }, new { @class = "listButton2" })
            if (item.LastMessage.Length < 30)
            {
                <p class="under-text">@Html.DisplayFor(modelItem => item.LastMessage)</p>
            }
            else
            {
                <p class="under-text">@Html.DisplayFor(modelItem => item.LastMessage).ToString().Substring(0, Math.Min(item.LastMessage.Length, 45))....</p>
            }
        }
    }
}

else
{
    <section class="jumbotron">
        <h1>WhatsUp</h1>
        <p class="lead">WhatsUp is an online chat service. You can add your friends or talk in groupchats.</p>
        <p><a href="@Url.Action("Register", "User")" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
    </section>
}
