@model IEnumerable<WhatsUp.Models.ChatListViewModel>

@{

    ViewBag.Title = "Chats";
}

@if (User.Identity.IsAuthenticated)
{
<section id="Contact">
    <div class="btn btn-default" id="listButton">
        @Html.ActionLink("New Chat", "ChatContact", "Chat")
    </div>
    <hr />

    @foreach (var item in Model)
    {
    <div class="btn btn-default" id="listButton">
        @Html.ActionLink(item.Name, "Chat", "Chat", new { index = item.Index }, null)
        @Html.DisplayFor(modelItem => item.LastMessage)
    </div>
    }
</section>

    <section class="Chat">
        @*@RenderPage("~/Views/Chat/Chat.cshtml", Whatsup.Models.ChatViewModel)*@
        @*@{Html.RenderPartial("Chat", Model);}*@
    </section>

}

else
{
    <div class="jumbotron">
        <h1>WhatsUp</h1>
        <p class="lead">WhatsUp is an online chat service. You can add your friends or talk in groupchats.</p>
        <p><a href="@Url.Action("Register", "User")" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
