@model Whatsup.Models.AddGroupViewModel

@{
    ViewBag.Title = "AddGroupChat";
}

<h3>New group chat</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section class="form-horizontal">
    <hr />

    <h4>Fill in the group name</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", autofocus = "" })
        <section class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </section>
    </section>

    <hr />
    <h4>Add group participants</h4>

    <section class="form-group">
        @if (Model.Contacts != null)
        {
            for (int i = 0; i < Model.Contacts.Count; i++)
            {
                <section class="col-md-10">
                    <section class="participantsListButton">
                        @Html.CheckBoxFor(model => model.Contacts[i].Chosen, new { @class = "participantsListButton-checkbox" })
                        <section class="participantsListButton-text">
                            @Html.DisplayFor(model => model.Contacts[i].NickName)
                        </section>
                    </section>
                    @Html.HiddenFor(model => model.Contacts[i].NickName)
                    @Html.HiddenFor(model => model.Contacts[i].Index)
                    <p></p>
                </section>
            }
        }
        else
        {
            <p>You have no contacts, go to "Add Contact" to add contacts!</p>
        }
    </section>

    <hr />
    <section class="form-group">
        <section class="col-md-10">
            <input type="submit" value="Create" class="btn btn-primary btn-lg" />
        </section>
    </section>
</section>

    <section class="back-link">
        @Html.ActionLink("Back to New Chat", "ChatContact", "chat")
    </section>
}