@model Whatsup.Models.ChatViewModel

@{
    ViewBag.Title = Model.Name;
}

<section class="grid-container">
    <section class="grid-item">
        <h2 class="chatname">@Html.Label(Model.Name)</h2>

        @if (Model.Usernames.Count > 2)
        {
            <section class="usernames">
                @foreach (var Item in Model.Usernames.Reverse())
                {
                    if (Item.Value == "you")
                    {
                        @Html.Label(Item.Value, new { @class = "username" })
                    }
                    else
                    {
                        @Html.Label(Item.Value + ",", new { @class = "username" })
                    }
                }
            </section>
            <section class="dropdown">
                <button class="btn btn-primary btn-lg" id="options-button">Options</button>
                <section class="dropdown-content">
                    <section class="btn btn-default" id="dropdown-links">
                        @Html.ActionLink("Change Chat Name", "EditChat", new { index = Model.Index })
                    </section>
                    <section class="btn btn-default" id="dropdown-links">
                        @Html.ActionLink("Delete Chat", "DeleteChat", new { index = Model.Index })
                    </section>
                </section>

                <h2>@ViewBag.Nickname</h2>

            </section>
        }
        else
        {
            <section class="dropdown">
                <button class="btn btn-primary btn-lg" id="options-button">Options</button>
                <section class="dropdown-content">
                    <section class="btn btn-default" id="dropdown-links">
                        @Html.ActionLink("Delete Chat", "DeleteChat", new { index = Model.Index })
                    </section>
                </section>

                <h2>@ViewBag.Nickname</h2>

            </section>
        }
    </section>

    <section class="grid-item" id="contect-section">
        @for (int i = 0; i < Model.Reader.Count; i++)
        {
        <section class="message @if(Model.Reader[i].IsSender) { @Html.Raw("user"); } else { @Html.Raw("notuser"); }">
            <section class="content">
                <p>@Model.Reader[i].Content</p>
                <p class="content-time">@Model.Reader[i].SentOn</p>
            </section>
            @if (Model.Usernames.Count > 2)
            {
                <section class="info">
                    @Html.Raw(Model.Reader[i].SenderName)
                </section>
            }
        </section>
        }
    </section>

    <section class="grid-item" id="write-section">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Index)
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @id = "input-message", @placeholder = "Type a message", autofocus = "" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    <input type="submit" value="Send" class="btn btn-default" id="input-button" />
            }
    </section>
</section>

<section class="back-link">
    @Html.ActionLink("Back to Home", "Index", "Home")
</section>

<script>
    var element = document.getElementById("contect-section");
    element.scrollTop = element.scrollHeight;
 </script>

